/* Gravity Forms */
.ginput_container input, .ginput_container select, .ginput_container textarea{
  -webkit-box-shadow: none !important;
  -mox-box-shadow: none !important;
  box-shadow: none !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
  margin-top: 0 !important;
  margin-right: 6px;
}
.gform_button{
  background-color: @oaksgold;
  border-color: @oaksgold;
  font-size: 1.8em !important;
}
.gform_wrapper .top_label .gfield_label:empty{
  display: none;
}